<div class="form-inner-cont mt-5">
    <form action="https://sendmail.w3layouts.com/submitForm" method="post" class="signin-form">
        <div class="form-grids">
            <div class="form-input">
                <input type="text" name="w3lName" id="w3lName" placeholder="Enter your name *" required="" />
            </div>
            <div class="form-input">
                <input type="text" name="w3lSubject" id="w3lSubject" placeholder="Enter subject " required />
            </div>
            <div class="form-input">
                <input type="email" name="w3lSender" id="w3lSender" placeholder="Enter your email *" required />
            </div>
            <div class="form-input">
                <input type="text" name="w3lPhone" id="w3lPhone" placeholder="Enter your Phone Number *" required />
            </div>
        </div>
        <div class="form-input">
            <textarea name="w3lMessage" id="w3lMessage" placeholder="Type your query here" required=""></textarea>
        </div>
        <div class="w3-submit text-right">
            <button class="btn btn-style btn-primary">Send Message <i class="fas fa-paper-plane ms-2"></i></button>
        </div>
    </form>
</div>