
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<body>

    @await Component.InvokeAsync("_ContactBannerPartial")

    <!-- contacts-5-grid -->
    <div class="w3l-contact-10 py-5" id="contact">
        <div class="form-41-mian pt-lg-4 pt-md-3 pb-lg-4">
            <div class="container">
                <div class="heading text-center mx-auto">
                    <h5 class="title-subw3hny text-center">Contact our team</h5>
                    <h3 class="title-w3l">Got any <span class="inn-text">Questions? </span></h3>
                </div>

                @await Component.InvokeAsync("_ContactInformationPartial")

                @await Html.PartialAsync("SendMessage")
               
            </div>
        </div>
    </div>
    <!-- //contacts-5-grid -->

    @await Component.InvokeAsync("_MapPartial")

</body>

</html>