
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<body>

    @await Component.InvokeAsync("_ContactPartial")

    @await Component.InvokeAsync("_SubContactPartial")

</body>

</html>


