
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<body>
    
    @await Component.InvokeAsync("_AboutUsPartial")

    @await Component.InvokeAsync("_RentPartial")

    @await Component.InvokeAsync("_ProgressPartial")

    @await Component.InvokeAsync("_FrequentlyAskedQuestionPartial")

    @await Component.InvokeAsync("_StatPartial")    
    
    @await Component.InvokeAsync("_SubscribePartial")

    @await Component.InvokeAsync("_TeamPartial")

</body>

</html>


