<!-- features section -->
<section class="w3l-features py-5" id="work">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-content text-center mb-lg-3 mb-4">
            <h6 class="title-subw3hny mb-1">What We Do</h6>
            <h3 class="title-w3l">What We Offered</h3>
        </div>
        <div class="main-cont-wthree-2">
            <div class="row">
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-thumbs-up"></i>
                        </div>
                        <h4><a href="#service" class="title-head mb-3">Guidance you need</a></h4>
                        <p class="text-para">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-search-plus"></i>
                        </div>
                        <h4><a href="#service" class="title-head mb-3">Search that feels familiar</a></h4>
                        <p class="text-para">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-tags"></i>
                        </div>
                        <h4><a href="#service" class="title-head mb-3">Premium values</a></h4>
                        <p class="text-para">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-shield-alt"></i>
                        </div>
                        <h4><a href="#service" class="title-head mb-3">Secure Payment</a></h4>
                        <p class="text-para">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="far fa-money-bill-alt"></i>
                        </div>
                        <h4><a href="#service" class="title-head mb-3">No Commission</a></h4>
                        <p class="text-para">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <h4><a href="#service" class="title-head mb-3">Top Rated Agents</a></h4>
                        <p class="text-para">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//features section -->