
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">


<body>

    @await Component.InvokeAsync("_ServiceBannerPartial")

     @await Component.InvokeAsync("_PostPropertyPartial")
    
    @await Component.InvokeAsync("_ExplorePropertyPartial")
    
    @await Component.InvokeAsync("_OfferPartial")

    @await Component.InvokeAsync("_PlanPartial")

</body>

</html>