@using RealHouzing.Consume.Models.VideoViewModels;
@model List<VideoListViewModel>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}


<h3 class="container">Video</h3>
<br />
<br />
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Video Embed</th>
            <th>Sil</th>
            <th>Düzenle</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <th>@count</th>
                <td>@item.Title</td>
                <td><a href="@item.VideoURL" class="btn btn-secondary">Video</a> </td>
                <td>
                    <a href="/VideoandAbout/DeleteVideo/@item.VideoID" target="_blank" class="btn btn-outline-danger" id="DeleteBtn"
                       onclick="return confirm('Silmek istediğinize emin misiniz?');">
                        <i class="fas fa-trash">
                        </i>Sil
                    </a>
                </td>
                <td>
                    <a href="/VideoandAbout/UpdateVideo/@item.VideoID" class="btn btn-outline-success">
                        <i class="fas fa-pencil-alt">
                        </i>Güncelle
                    </a>
                </td>
            </tr>
        }
    </table>
    <br />
    <a href="/VideoandAbout/AddVideo" class="btn btn-outline-info">Yeni Video Girişi</a>
</div>