<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/AdminLTE/dist/img/User_Icon.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">Real Houzing Admin</a>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="/Category/Index" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>Kategoriler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Product/Index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>İlanlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Team/Index" class="nav-link">
                    <i class="nav-icon fas fa-users"></i>
                    <p>Ekibimiz</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Blog/Index" class="nav-link">
                    <i class="nav-icon fas fa-pen"></i>
                    <p>Bloglar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/AdminService/Index" class="nav-link">
                    <i class="nav-icon fas fa-code"></i>
                    <p>Hizmetler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Testimonial/Index" class="nav-link">
                    <i class="nav-icon fas fa-comments"></i>
                    <p>Referanslar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Subscribe/Index" class="nav-link">
                    <i class="nav-icon fas fa-mail-bulk"></i>
                    <p>Aboneler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Option/Index" class="nav-link">
                    <i class="nav-icon fas fa-folder"></i>
                    <p>Yaptıklarımız</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Video/Index" class="nav-link">
                    <i class="nav-icon fas fa-video"></i>
                    <p>Video</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Map/Index" class="nav-link">
                    <i class="nav-icon fas fa-map"></i>
                    <p>Lokasyon</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/BuyLease/Index" class="nav-link">
                    <i class="nav-icon fas fa-dollar-sign"></i>
                    <p>Sat & Kirala</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/AdminAbout/Index" class="nav-link">
                    <i class="nav-icon fas fa-tree"></i>
                    <p>Hakkımızda</p>
                </a>
            </li>
            <li class="nav-item has-treeview">
                <a href="/Message/Index" class="nav-link">
                    <i class="nav-icon fas fa-comment"></i>
                    <p>Gelen Mesajlar</p>
                </a>
            </li>
            <li class="nav-header"></li>
            <li class="nav-item has-treeview">
                <a href="/Default/Index" class="nav-link">
                    <i class="nav-icon fas fa-laptop"></i>
                    <p>Siteye Git</p>
                </a>
            </li>
            <li class="nav-item has-treeview">
                <a href="/Login/Logout" class="nav-link">
                    <i class="nav-icon fas fa-sign-out-alt"></i>
                    <p>Çıkış Yap</p>
                </a>
            </li>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->